a:link{
    text-decoration: none;
    margin-left: 1em;
}

a{
    text-decoration: none;
}

.fa-github{
    color: black;
    opacity: 1.0;
    transition: 0.3s;
}

.fa-github:hover, .fa-linkedin:hover, .fa-instagram:hover{
    opacity: 0.6;
}

.fa-linkedin{
    opacity: 1.0;
    transition: 0.3s;
}

.fa-instagram{
    opacity: 1.0;
    transition: 0.3s;
}


.title{
    text-align: center;
    font-family: "DIN Next",sans-serif;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0.2em;
}

.text{
    max-width: 500px;
    margin: auto;
    text-align: justify;
    padding-top: 40px;
    font-family: "FF Meta Serif",serif;
    color: #000;
    font-weight: 300;
    font-size: 1.125rem;
}

.rte{
    border: none;
    font-family: "Fjalla One",sans-serif;
    text-transform: Uppercase;
    font-weight: 700;
    font-size: 2rem;
    color: #d02120;
    font-style: normal;
    padding: 0;
    margin: 50px 0;
}


a img, .card-img-top{
    width: 100%;
    object-fit: cover;
}

.card{
    border: none;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.card-title{
    text-align: center;
}

.card-link{
    margin-left: 144px;
}


.col-sm-12 img, .col-sm-12 .card {
    max-width: 90%;
}

.fade-in {
	-webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    border-radius: 5px;
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  